[Unit]
Description=Cat detector tensorflow thingy
Wants=serial-server.service
After=serial-server.service

[Service]
Type=simple
WorkingDirectory=/home/pi/cat_loving_robot
ExecStart=/home/pi/env/bin/python classify_image.py
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=classify_image
Type=idle
User=pi

[Install]
WantedBy=multi-user.target
